/* Universal styles, mobile-specific styles */
p{
	font-size: 4rem;
	color:white;
	font-family: helvetica;
	opacity: 0;
	transition: opacity .6s linear;
	-moz-transition: opacity .6s linear;
	-webkit-transition: opacity .6s linear;
	-0-transition: opacity .6s linear;
}

.mobile{
	opacity: 1;
}

body{
	background-color: blue;
}

/* End of universal styles, mobile-specific styles */

@media (min-width: 480px) {
/* Tablet styles */

	body{
		background-color: green;
	}

	.mobile{
		opacity: 0;
	}

	.tablet{
		opacity: 1;

/* End of tablet styles */
	}

@media (min-width: 768px) {
/* Small desktop styles (don't need to include mobile if max width isn't defined) */

	body{
		background-color: red;
	}

	.tablet{
		opacity: 0;
	}

	.small-desktop{
		opacity: 1;
	}

/* End of small desktop styles */
}

@media (min-width: 992px) {
/*Med desktop styles */

	body{
		background-color: yellow;
	}

	.small-desktop{
		opacity: 0;
	}

	.med-desktop{
		opacity: 1;
	}

/* End of med desktop styles */
}

@media (min-width: 1200px) {

	body{
		background-color: teal;
	}

	.med-desktop{
		opacity: 0;
	}

	.large-desktop{
		opacity: 1;
	}
}
